  .noLike {
    color: white; 
    cursor: pointer;
    border: 1px;
    width: 17px;
    height: 20px;
    border-radius: 2px;
    background: rgb(39, 39, 39);
  }
  
  .Like {
    color: rgb(238, 4, 4);
    cursor: pointer;
    border: 1px;
    width: 17px;
    height: 20px;
    border-radius: 2px;
    background: rgb(39, 39, 39);
  }