.filmPage {
    background: rgb(247, 244, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.poster{
    display: flex;
    margin-bottom: 1rem;
}

.filmPageInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
   
   p {
       margin-bottom: 5px;
   } 

   .overview {
      text-indent:2rem;
      text-align: justify;
    }
}

.span {
 font-weight: bold;  
}

.recItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 1rem 0;
}

@media (max-width: 820px) {
   .backdrop_path {
       display: none;
   }     
}


